<div class="add">
  <div class="addEmployee">
    <h2>Add Employee Details</h2>
    <div class="addEmployees">
      <form {{on "submit" (perform this.submitForm)}}>
        <table>
          <tr>
            <td><label for="name">Employee Name:</label></td>
            <td><input type="text" id="name" name="name" placeholder="Employee Name" required /></td>
          </tr>
          <tr>
            <td><label for="dob">Date of Birth:</label></td>
            <td>
              <PikadayInput 
                @value={{this.dob}} 
                @onSelection={{this.setDOB}} 
                @placeholder="Select DOB" 
                @yearRange={{array 1950 2025}} 
              />
            </td>
          </tr>
          <tr>
            <td><label for="country">Country:</label></td>
            <td>
              <PowerSelect
                @options={{this.countries}}
                @selected={{this.selectedCountry}}
                @onChange={{fn (mut this.selectedCountry)}}
                as |country|>
                {{country}}
              </PowerSelect>
            </td>
          </tr>
        </table>

        <div class="confirmation-section">
          <label class="checkbox-label">
            <Input @type="checkbox" @checked={{this.agreeToTerms}} required />
            <p>Accept Terms and Conditions</p>
          </label>

          <LiquidSpacer @growDuration={{300}} class="terms-spacer">
            {{#if this.agreeToTerms}}
              <ul class="terms-list">
                <li>Your information will be securely stored.</li>
                <li>You agree to be contacted if verification is needed.</li>
                <li>Please ensure your details are correct before submitting.</li>
              </ul>
            {{/if}}
          </LiquidSpacer>
        </div>

        <div style="text-align: center; margin-top: 1rem;">
          <button type="submit">Add Employee</button>
        </div>
      </form>
    </div>
  </div>
</div>
