<div class="edit">
  <div class="editEmployee">
    <h2>Edit Employee Details</h2>
    <div class="editEmployees">
      <form {{on "submit" this.saveEmployee}}>
        <table>
          <tr>
            <td><label for="name">Employee Name:</label></td>
            <td><input type="text" id="name" value={{this.employee.name}} {{on "input" this.updateName}}required/></td>
          </tr>

          <tr>
            <td><label for="dob">Date of Birth:</label></td>
            <td>
              <PikadayInput
                @value={{this.employee.dob}}
                @onSelection={{this.updateDob}}
                @placeholder="Select DOB"
              />
            </td>
          </tr>

          <tr>
            <td><label for="country">Country:</label></td>
            <td>
              <PowerSelect
                @options={{this.employeeService.countries}}
                @selected={{this.selectedCountry}}
                @onChange={{this.updateCountry}}
                as |country|
              >
                {{country}}
              </PowerSelect>
            </td>
          </tr>

          <tr>
            <td><label for="gender">Gender:</label></td>
            <td>
              <PowerSelect
                @options={{this.genders}}
                @selected={{this.selectedGender}}
                @onChange={{this.updateGender}}
                as |gender|
              >
                {{gender}}
              </PowerSelect>
            </td>
          </tr>

          <tr>
            <td><label>Skills:</label></td>
            <td>
              <PowerSelectMultiple
                @options={{this.skills}}
                @selected={{this.selectedSkills}}
                @onChange={{this.updateSkills}}
                @placeholder={{this.skillsPlaceholder}}
                as |skill|
              >
                {{skill}}
              </PowerSelectMultiple>
            </td>
          </tr>

          <tr>
            <td><label>College:</label></td>
            <td>
              <PowerSelect
                @options={{this.groupedColleges}}
                @selected={{this.selectedCollege}}
                @onChange={{this.updateCollege}}
                @groupLabelPath="groupName"
                @optionLabelPath="name"
                @placeholder={{this.collegePlaceholder}}
                as |college|
              >
                {{college.name}}
              </PowerSelect>
            </td>
          </tr>

          <tr>
            <td><label for="academicYear">Academic Year:</label></td>
            <td>
              <PowerCalendarRange
                @center={{this.center}}
                @selected={{this.range}}
                @onCenterChange={{this.onCenterChange}}
                @onSelect={{this.onSelect}} 
                as |cal|
              >
                <cal.Nav />
                <cal.Days />
              </PowerCalendarRange>
            </td>
          </tr>

          <tr>
            <td colspan="2" style="text-align: center;">
              <button type="submit">Save</button>
            </td>
          </tr>
          
        </table>
      </form>
    </div>
  </div>
</div>

{{#if this.showSavingModal}}
  <div class="popup">
    <div class="confirm-popup">
      <p>Saving employee...</p>
      <div class="spinner"></div>

      <div class="confirm-actions">
        <button class="button edit-cancel-button" type="button" {{on "click" this.cancelSave}}>Cancel</button>
      </div>
    </div>
  </div>
{{/if}}
