<div class="edit">
  <div class="editEmployee">
    <h2>Edit Employee Details</h2>
    <div class="editEmployees">
      <form {{on "submit" this.saveEmployee}}>
        <table>
          <tr>
            <td><label for="name">Employee Name:</label></td>
            <td>
              <input type="text"id="name"value={{this.employee.name}} {{on "input" this.updateName}} required >
            </td>
          </tr>

          <tr>
            <td><label for="dob">Date of Birth:</label></td>
            <td>
              <PikadayInput
                @value={{this.employee.dob}}
                @onSelection={{this.updateDob}}
                @placeholder="Select DOB"
              />
            </td>
          </tr>

          <tr>
            <td><label for="country">Country:</label></td>
            <td>
              <PowerSelect
                @options={{this.employeeService.countries}}
                @selected={{this.selectedCountry}}
                @onChange={{this.updateCountry}}
                as |country|
              >
                {{country}}
              </PowerSelect>
            </td>
          </tr>

          <tr>
            <td colspan="2" style="text-align: center;">
              <button type="submit">Save</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
