{{#each this.flashMessages.queue as |flash|}}
  <div class="flash-message {{flash.type}}">
    {{flash.message}}
  </div>
{{/each}}

<div class="search">
  <div class="search-filter">
  <h2>Search Employee</h2>
  <div class="search-filters" {{on-click-outside this.hideSearchFilters}}>
  <i class="fas fa-filter" {{on "click" this.toggleSearchFilterSettings}}></i>

  {{#if this.showSearchFilterSettings}}
    <div class="filter-popup">
      <h3>Search Filter</h3>
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Column</th>
          </tr>
        </thead>
        <tr>
          <td><input type="checkbox" checked={{this.searchColumns.name}} {{on "change" (fn this.toggleSearchColumn "name")}} /></td>
          <td>Name</td>
        </tr>

        <tr>
          <td><input type="checkbox" checked={{this.searchColumns.dob}} {{on "change" (fn this.toggleSearchColumn "dob")}} /></td>
          <td> DOB</td>
        </tr>

        <tr>
          <td><input type="checkbox" checked={{this.searchColumns.country}} {{on "change" (fn this.toggleSearchColumn "country")}} /> </td>
          <td>Country</td>
        </tr>
      </table>
    </div>
  {{/if}}
  </div>
</div>

  <input type="search" placeholder="Search employees..." value={{this.searchQuery}} {{on "input" this.search}} />
</div>
<div class="column-visiblity" {{on-click-outside this.toggleColumnSettingsFalse}}>
  <div class="column-toggle-icon" {{on "click" this.toggleColumnSettings}} >
    <i class="fa-solid fa-cogs"></i>
  </div>

  {{#if this.showColumnSettings}}
    <div class="column-settings-popup">
      <div class="popup-header">
        <h3>Column Visibility</h3>
      </div>
      <table class="column-settings-table">
        <thead>
          <tr>
            <th>Show</th>
            <th>Column</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.columns as |column|}}
            <tr>
              <td>
                <input type="checkbox" checked={{column.visible}} {{on "change" (fn this.toggleColumnVisibility column)}} />
              </td>
              <td>{{column.label}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>

<div class="container" {{on-click-outside this.clearSearch}}>
  <table>
    <thead>
      <tr>
        {{#if (this.isColumnVisible "select")}}
          <th class="select-heading">Select</th>
        {{/if}}

        {{#if (this.isColumnVisible "name")}}
          <th>Name<i class="fa-solid fa-sort" {{on "click" (fn this.sortByColumn "name")}}></i></th>
        {{/if}}

        {{#if (this.isColumnVisible "dob")}}
          <th>DOB<i class="fa-solid fa-sort" {{on "click" (fn this.sortByColumn "dob")}}></i></th>
        {{/if}}

        {{#if (this.isColumnVisible "country")}}
          <th>Country<i class="fa-solid fa-sort"  {{on "click" (fn this.sortByColumn "country")}}></i></th>
        {{/if}}

        {{#if (this.isColumnVisible "info")}}
          <th class="edit-heading">Info</th>
        {{/if}}
        {{#if (this.isColumnVisible "edit")}}
          <th class="edit-heading">Edit</th>
        {{/if}}
        {{#if (this.isColumnVisible "delete")}}
          <th class="delete-heading">Delete</th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#if (or this.isLoading this.isSelectDeleting)}}
        <tr>
          <td colspan="12" class="loading">
            {{#if this.isSelectDeleting}}
              Deleting selected employees...
            {{else}}
              Loading search results...
            {{/if}}
          </td>
        </tr>
      {{else if this.filteredEmployees.length}}
        <VerticalCollection
          @items={{this.filteredEmployees}}
          @estimateHeight={{55}}
          @bufferSize={{1}}
          @containerSelector=".container"
          @staticHeight={{true}}
          as |employee index|
        >
          <tr>

            {{#if (this.isColumnVisible "select")}}
            <td><input type="checkbox" class="employeeindex" value={{index}} /></td>
            {{/if}}

            {{#if (this.isColumnVisible "name")}}
              <td>{{employee.name}}</td>
            {{/if}}

            {{#if (this.isColumnVisible "dob")}}
              <td>{{employee.dob}}</td>
            {{/if}}

            {{#if (this.isColumnVisible "country")}}
              <td>{{employee.country}}</td>
            {{/if}}

            {{#if (this.isColumnVisible "info")}}
            <td><LinkTo @route="info-employee" @model={{index}}><i class="fa fa-info-circle"></i></LinkTo></td>
            {{/if}}

            {{#if (this.isColumnVisible "edit")}}
            <td><LinkTo @route="edit-employee" @model={{index}}><i class="fas fa-edit editSymbol"></i></LinkTo></td>
            {{/if}}

            {{#if (this.isColumnVisible "delete")}}
            <td><button class="button" type="button" {{on "click" (perform this.deleteEmployee index)}}>Delete</button></td>
            {{/if}}

          </tr>
        </VerticalCollection>
      {{else}}
        <tr>
          <td colspan="12" class="loading">No employees found</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>

<div class="deleteButtons">
  {{#if (gt this.filteredEmployees.length 1)}}
    <div class="deletebtn">
      <button class="button selectButton" type="button" {{on "click" (perform this.deleteSelectedEmployees)}}>Select Delete</button>
      <button class="button Deleteallemployee" type="button" {{on "click" (fn (mut this.showDeleteConfirm) true)}} {{on-key "Shift+Delete" this.showDeleteConfirm}}>Delete All</button>
    </div>
  {{/if}}

  {{#if this.showDeleteConfirm}}
    <div class="modal-backdrop">
      <div class="confirm-dialog">
        <p>Are you sure you want to delete all employees?</p>
        <div class="confirm-actions">
          <button class="button" type="button" {{on "click" (perform this.deleteAllEmployees)}} {{on-key "Enter" (perform this.deleteAllEmployees)}}>Yes, Delete</button>
          <button class="button" type="button" {{on "click" this.cancelDelete}} {{on-key "Escape" this.cancelDelete}}>Cancel</button>
        </div>
      </div>
    </div>
  {{/if}}
</div>
